//! **************************************************************************
// Written by: Map P.20131013 on Wed Jul 16 21:32:56 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P94" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "P123" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "P124" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "P126" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "P127" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "P131" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "P132" LEVEL 1;
COMP "segments<0>" LOCATE = SITE "P75" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "P133" LEVEL 1;
COMP "segments<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "P134" LEVEL 1;
COMP "segments<2>" LOCATE = SITE "P66" LEVEL 1;
COMP "segments<3>" LOCATE = SITE "P67" LEVEL 1;
COMP "segments<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "segments<5>" LOCATE = SITE "P61" LEVEL 1;
COMP "segments<6>" LOCATE = SITE "P81" LEVEL 1;
COMP "segments<7>" LOCATE = SITE "P51" LEVEL 1;
COMP "digit_select<0>" LOCATE = SITE "P85" LEVEL 1;
COMP "digit_select<1>" LOCATE = SITE "P79" LEVEL 1;
COMP "digit_select<2>" LOCATE = SITE "P56" LEVEL 1;
COMP "digit_select<3>" LOCATE = SITE "P48" LEVEL 1;
COMP "rstn" LOCATE = SITE "P47" LEVEL 1;
SCHEMATIC END;

