//! **************************************************************************
// Written by: Map P.20131013 on Fri Jul 11 17:15:08 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P94" LEVEL 1;
COMP "led_out" LOCATE = SITE "P112" LEVEL 1;
COMP "led_out0" LOCATE = SITE "P123" LEVEL 1;
COMP "led_out1" LOCATE = SITE "P124" LEVEL 1;
COMP "led_out2" LOCATE = SITE "P126" LEVEL 1;
COMP "rstn" LOCATE = SITE "P47" LEVEL 1;
TIMEGRP clk_divider_clkout0 = BEL "clk_divider/clkout1_buf" BEL
        "div1/clear_counter_5" BEL "div1/clear_counter_4" BEL
        "div1/clear_counter_3" BEL "div1/clear_counter_2" BEL
        "div1/clear_counter_1" BEL "div1/clear_counter_0" BEL "div1/counter_6"
        BEL "div1/counter_5" BEL "div1/counter_4" BEL "div1/counter_3" BEL
        "div1/counter_2" BEL "div1/counter_1" BEL "div1/counter_0" BEL
        "div1/out1";
PIN SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0> = BEL
        "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0" PINNAME DIVCLK;
PIN clk_divider/pll_base_inst/PLL_ADV_pins<2> = BEL
        "clk_divider/pll_base_inst/PLL_ADV" PINNAME CLKIN1;
TIMEGRP clk = PIN "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0>" PIN
        "clk_divider/pll_base_inst/PLL_ADV_pins<2>";
TS_clk = PERIOD TIMEGRP "clk" 15 ns HIGH 50%;
TS_clk_divider_clkout0 = PERIOD TIMEGRP "clk_divider_clkout0" TS_clk /
        0.1015625 HIGH 50%;
SCHEMATIC END;

