//! **************************************************************************
// Written by: Map P.20131013 on Wed Jul 23 11:55:40 2014
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "clk" LOCATE = SITE "P94" LEVEL 1;
COMP "dsn" LOCATE = SITE "P47" LEVEL 1;
COMP "rstn" LOCATE = SITE "P55" LEVEL 1;
COMP "segments<0>" LOCATE = SITE "P75" LEVEL 1;
COMP "segments<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "segments<2>" LOCATE = SITE "P66" LEVEL 1;
COMP "segments<3>" LOCATE = SITE "P67" LEVEL 1;
COMP "segments<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "segments<5>" LOCATE = SITE "P61" LEVEL 1;
COMP "segments<6>" LOCATE = SITE "P81" LEVEL 1;
COMP "segments<7>" LOCATE = SITE "P51" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "P134" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "P127" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "P126" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "P124" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "P123" LEVEL 1;
COMP "ascii<0>" LOCATE = SITE "P114" LEVEL 1;
COMP "ascii<1>" LOCATE = SITE "P115" LEVEL 1;
COMP "ascii<2>" LOCATE = SITE "P116" LEVEL 1;
COMP "ascii<3>" LOCATE = SITE "P117" LEVEL 1;
COMP "ascii<4>" LOCATE = SITE "P118" LEVEL 1;
COMP "ascii<5>" LOCATE = SITE "P119" LEVEL 1;
COMP "ascii<6>" LOCATE = SITE "P120" LEVEL 1;
COMP "ascii<7>" LOCATE = SITE "P121" LEVEL 1;
COMP "digit_select<0>" LOCATE = SITE "P85" LEVEL 1;
COMP "digit_select<1>" LOCATE = SITE "P79" LEVEL 1;
COMP "digit_select<2>" LOCATE = SITE "P56" LEVEL 1;
COMP "digit_select<3>" LOCATE = SITE "P48" LEVEL 1;
COMP "clearn" LOCATE = SITE "P50" LEVEL 1;
TIMEGRP clk = BEL "clr_sreg_0" BEL "clr_sreg_1" BEL "ds_sreg_0" BEL
        "ds_sreg_1" BEL "ascii_buf_31_0" BEL "ascii_buf_31_1" BEL
        "ascii_buf_31_2" BEL "ascii_buf_31_3" BEL "ascii_buf_31_4" BEL
        "ascii_buf_31_5" BEL "ascii_buf_31_6" BEL "ascii_buf_31_7" BEL
        "ascii_buf_31_8" BEL "ascii_buf_31_9" BEL "ascii_buf_31_10" BEL
        "ascii_buf_31_11" BEL "ascii_buf_31_12" BEL "ascii_buf_31_13" BEL
        "ascii_buf_31_14" BEL "ascii_buf_31_15" BEL "ascii_buf_31_16" BEL
        "ascii_buf_31_17" BEL "ascii_buf_31_18" BEL "ascii_buf_31_19" BEL
        "ascii_buf_31_20" BEL "ascii_buf_31_21" BEL "ascii_buf_31_22" BEL
        "ascii_buf_31_23" BEL "ascii_buf_31_24" BEL "ascii_buf_31_25" BEL
        "ascii_buf_31_26" BEL "ascii_buf_31_27" BEL "ascii_buf_31_28" BEL
        "ascii_buf_31_29" BEL "ascii_buf_31_30" BEL "ascii_buf_31_31" BEL
        "ascii_buf_31_32" BEL "ascii_buf_31_33" BEL "ascii_buf_31_34" BEL
        "ascii_buf_31_35" BEL "ascii_buf_31_36" BEL "ascii_buf_31_37" BEL
        "ascii_buf_31_38" BEL "ascii_buf_31_39" BEL "ascii_buf_31_40" BEL
        "ascii_buf_31_41" BEL "ascii_buf_31_42" BEL "ascii_buf_31_43" BEL
        "ascii_buf_31_44" BEL "ascii_buf_31_45" BEL "ascii_buf_31_46" BEL
        "ascii_buf_31_47" BEL "ascii_buf_31_48" BEL "ascii_buf_31_49" BEL
        "ascii_buf_31_50" BEL "ascii_buf_31_51" BEL "ascii_buf_31_52" BEL
        "ascii_buf_31_53" BEL "ascii_buf_31_54" BEL "ascii_buf_31_55" BEL
        "ascii_buf_31_56" BEL "ascii_buf_31_57" BEL "ascii_buf_31_58" BEL
        "ascii_buf_31_59" BEL "ascii_buf_31_60" BEL "ascii_buf_31_61" BEL
        "ascii_buf_31_62" BEL "ascii_buf_31_63" BEL "ascii_buf_31_64" BEL
        "ascii_buf_31_65" BEL "ascii_buf_31_66" BEL "ascii_buf_31_67" BEL
        "ascii_buf_31_68" BEL "ascii_buf_31_69" BEL "ascii_buf_31_70" BEL
        "ascii_buf_31_71" BEL "ascii_buf_31_72" BEL "ascii_buf_31_73" BEL
        "ascii_buf_31_74" BEL "ascii_buf_31_75" BEL "ascii_buf_31_76" BEL
        "ascii_buf_31_77" BEL "ascii_buf_31_78" BEL "ascii_buf_31_79" BEL
        "ascii_buf_31_80" BEL "ascii_buf_31_81" BEL "ascii_buf_31_82" BEL
        "ascii_buf_31_83" BEL "ascii_buf_31_84" BEL "ascii_buf_31_85" BEL
        "ascii_buf_31_86" BEL "ascii_buf_31_87" BEL "ascii_buf_31_88" BEL
        "ascii_buf_31_89" BEL "ascii_buf_31_90" BEL "ascii_buf_31_91" BEL
        "ascii_buf_31_92" BEL "ascii_buf_31_93" BEL "ascii_buf_31_94" BEL
        "ascii_buf_31_95" BEL "ascii_buf_31_96" BEL "ascii_buf_31_97" BEL
        "ascii_buf_31_98" BEL "ascii_buf_31_99" BEL "ascii_buf_31_100" BEL
        "ascii_buf_31_101" BEL "ascii_buf_31_102" BEL "ascii_buf_31_103" BEL
        "ascii_buf_31_104" BEL "ascii_buf_31_105" BEL "ascii_buf_31_106" BEL
        "ascii_buf_31_107" BEL "ascii_buf_31_108" BEL "ascii_buf_31_109" BEL
        "ascii_buf_31_110" BEL "ascii_buf_31_111" BEL "ascii_buf_31_112" BEL
        "ascii_buf_31_113" BEL "ascii_buf_31_114" BEL "ascii_buf_31_115" BEL
        "ascii_buf_31_116" BEL "ascii_buf_31_117" BEL "ascii_buf_31_118" BEL
        "ascii_buf_31_119" BEL "ascii_buf_31_120" BEL "ascii_buf_31_121" BEL
        "ascii_buf_31_122" BEL "ascii_buf_31_123" BEL "ascii_buf_31_124" BEL
        "ascii_buf_31_125" BEL "ascii_buf_31_126" BEL "ascii_buf_31_127" BEL
        "ascii_buf_31_128" BEL "ascii_buf_31_129" BEL "ascii_buf_31_130" BEL
        "ascii_buf_31_131" BEL "ascii_buf_31_132" BEL "ascii_buf_31_133" BEL
        "ascii_buf_31_134" BEL "ascii_buf_31_135" BEL "ascii_buf_31_136" BEL
        "ascii_buf_31_137" BEL "ascii_buf_31_138" BEL "ascii_buf_31_139" BEL
        "ascii_buf_31_140" BEL "ascii_buf_31_141" BEL "ascii_buf_31_142" BEL
        "ascii_buf_31_143" BEL "ascii_buf_31_144" BEL "ascii_buf_31_145" BEL
        "ascii_buf_31_146" BEL "ascii_buf_31_147" BEL "ascii_buf_31_148" BEL
        "ascii_buf_31_149" BEL "ascii_buf_31_150" BEL "ascii_buf_31_151" BEL
        "ascii_buf_31_152" BEL "ascii_buf_31_153" BEL "ascii_buf_31_154" BEL
        "ascii_buf_31_155" BEL "ascii_buf_31_156" BEL "ascii_buf_31_157" BEL
        "ascii_buf_31_158" BEL "ascii_buf_31_159" BEL "ascii_buf_31_160" BEL
        "ascii_buf_31_161" BEL "ascii_buf_31_162" BEL "ascii_buf_31_163" BEL
        "ascii_buf_31_164" BEL "ascii_buf_31_165" BEL "ascii_buf_31_166" BEL
        "ascii_buf_31_167" BEL "ascii_buf_31_168" BEL "ascii_buf_31_169" BEL
        "ascii_buf_31_170" BEL "ascii_buf_31_171" BEL "ascii_buf_31_172" BEL
        "ascii_buf_31_173" BEL "ascii_buf_31_174" BEL "ascii_buf_31_175" BEL
        "ascii_buf_31_176" BEL "ascii_buf_31_177" BEL "ascii_buf_31_178" BEL
        "ascii_buf_31_179" BEL "ascii_buf_31_180" BEL "ascii_buf_31_181" BEL
        "ascii_buf_31_182" BEL "ascii_buf_31_183" BEL "ascii_buf_31_184" BEL
        "ascii_buf_31_185" BEL "ascii_buf_31_186" BEL "ascii_buf_31_187" BEL
        "ascii_buf_31_188" BEL "ascii_buf_31_189" BEL "ascii_buf_31_190" BEL
        "ascii_buf_31_191" BEL "ascii_buf_31_192" BEL "ascii_buf_31_193" BEL
        "ascii_buf_31_194" BEL "ascii_buf_31_195" BEL "ascii_buf_31_196" BEL
        "ascii_buf_31_197" BEL "ascii_buf_31_198" BEL "ascii_buf_31_199" BEL
        "ascii_buf_31_200" BEL "ascii_buf_31_201" BEL "ascii_buf_31_202" BEL
        "ascii_buf_31_203" BEL "ascii_buf_31_204" BEL "ascii_buf_31_205" BEL
        "ascii_buf_31_206" BEL "ascii_buf_31_207" BEL "ascii_buf_31_208" BEL
        "ascii_buf_31_209" BEL "ascii_buf_31_210" BEL "ascii_buf_31_211" BEL
        "ascii_buf_31_212" BEL "ascii_buf_31_213" BEL "ascii_buf_31_214" BEL
        "ascii_buf_31_215" BEL "ascii_buf_31_216" BEL "ascii_buf_31_217" BEL
        "ascii_buf_31_218" BEL "ascii_buf_31_219" BEL "ascii_buf_31_220" BEL
        "ascii_buf_31_221" BEL "ascii_buf_31_222" BEL "ascii_buf_31_223" BEL
        "ascii_buf_31_224" BEL "ascii_buf_31_225" BEL "ascii_buf_31_226" BEL
        "ascii_buf_31_227" BEL "ascii_buf_31_228" BEL "ascii_buf_31_229" BEL
        "ascii_buf_31_230" BEL "ascii_buf_31_231" BEL "ascii_buf_31_232" BEL
        "ascii_buf_31_233" BEL "ascii_buf_31_234" BEL "ascii_buf_31_235" BEL
        "ascii_buf_31_236" BEL "ascii_buf_31_237" BEL "ascii_buf_31_238" BEL
        "ascii_buf_31_239" BEL "ascii_buf_31_240" BEL "ascii_buf_31_241" BEL
        "ascii_buf_31_242" BEL "ascii_buf_31_243" BEL "ascii_buf_31_244" BEL
        "ascii_buf_31_245" BEL "ascii_buf_31_246" BEL "ascii_buf_31_247" BEL
        "ascii_buf_31_248" BEL "ascii_buf_31_249" BEL "ascii_buf_31_250" BEL
        "ascii_buf_31_251" BEL "ascii_buf_31_252" BEL "ascii_buf_31_253" BEL
        "ascii_buf_31_254" BEL "ascii_buf_31_255" BEL "buf_len_0" BEL
        "buf_len_1" BEL "buf_len_2" BEL "buf_len_3" BEL "buf_len_4" BEL
        "four_hz/counter_0" BEL "four_hz/counter_1" BEL "four_hz/counter_2"
        BEL "four_hz/counter_3" BEL "four_hz/counter_4" BEL
        "four_hz/counter_5" BEL "four_hz/counter_6" BEL "four_hz/counter_7"
        BEL "four_hz/counter_8" BEL "four_hz/counter_9" BEL
        "four_hz/counter_10" BEL "four_hz/counter_11" BEL "four_hz/counter_12"
        BEL "four_hz/counter_13" BEL "four_hz/counter_14" BEL
        "four_hz/counter_15" BEL "four_hz/counter_16" BEL "four_hz/counter_17"
        BEL "four_hz/counter_18" BEL "four_hz/counter_19" BEL
        "four_hz/counter_20" BEL "four_hz/counter_21" BEL "four_hz/counter_22"
        BEL "init" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 31.25 ns HIGH 50%;
SCHEMATIC END;

